/*
Add-on styles for WCBelfast - based on the CampSite 2017 theme
*/
body { font-family: 'Open Sans', sans-serif; }

/* Header */
.site-branding { text-align: center; }

.site-branding { background: url("https://2018.belfast.wordcamp.org/files/2017/12/belfast-outline.png") #f2f2f2; background-position: bottom 0px center; background-repeat: repeat-x; border-bottom: 6px solid #fab200; }

.navigation-top { background: #1f141c; border: none; }

.navigation-top a { color: #fab200; }

.navigation-top a:hover, .navigation-top a:focus, .navigation-top a:active { color: #fff; }

.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a { color: #fff; }

/* Menu on small screens */
.menu-toggle { color: #fab200; }

body { background: #f3f3f3; }

.page .panel-content .entry-title, .page-title, body.page .entry-title { font-size: 2rem !important; color: #1f141c !important; text-align: center; }

header.entry-header .edit-link { display: none; }

body.home .wp-block-column { border: 1px solid #fab200; font-size: 125%; }

body.home .wp-block-column h5 { color: #1f141c; background: #fab200; padding: .5rem; font-size: 1.1rem; }

@media only screen and (max-width: 767px) { .navigation-top .current-menu-item > a, .navigation-top .current_page_item > a { color: #1f141c; } }

@media only screen and (min-width: 543px) { /*	.site-branding { text-align: left; }*/ }

@media screen and (min-width: 48em) { #masthead .wrap { text-align: center; }
  .custom-header { margin-bottom: 70px; }
  .main-navigation a { padding: 1em 1em; }
  .main-navigation ul ul.sub-menu a { color: #1f141c; }
  .main-navigation ul ul a:hover { color: #fab200; background: #1f141c; }
  .site-branding .custom-logo-link img { max-height: 110px; }
  .site-branding-text p.site-title { font-size: 3.2rem; color: #1f141c; }
  .site-branding-text p.site-description { font-size: 1.35rem; }
  .panel-image { width: 100%; max-height: 400px; margin: 0 auto; }
  .panel-image img { max-height: 400px; max-width: 1200px; margin: 0 auto; }
  /*.background-fixed .panel-image { background-attachment: initial; margin: 0 auto; background-repeat: no-repeat; position: center center; } .background-fixed .panel-image img { max-height: 400px; max-width: 1200px; }*/ }

@media screen and (min-width: 30em) { .page-one-column .panel-content .wrap { max-width: 1000px; }
  .single-featured-image-header { max-height: 400px; background-color: #1f141c; border-bottom: none; } }

/* Gutenberg Blocks */
/* Home Page */
.home-column { text-align: center; }

/* Shutter Out Horizontal */
.shutter-out-horizontal { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); -webkit-box-shadow: 0 0 1px transparent; box-shadow: 0 0 1px transparent; position: relative; background: #fab200; border: 1px solid #1f141c; color: #1f141c; -webkit-transition-property: all; transition-property: all; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }

.shutter-out-horizontal:before { content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; background: #1f141c; border: 1px solid #fab200; color: #fab200; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 50%; transform-origin: 50%; -webkit-transition-property: all; transition-property: all; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }

.shutter-out-horizontal:hover, .shutter-out-horizontal:focus, .shutter-out-horizontal:active { color: #1f141c; }

.shutter-out-horizontal:hover:before, .shutter-out-horizontal:focus:before, .shutter-out-horizontal:active:before { -webkit-transform: scaleX(1); transform: scaleX(1); }

.entry-content .shutter-out-horizontal a img { -webkit-box-shadow: none; box-shadow: none; margin: 1rem 0 0 0; }

.entry-content .shutter-out-horizontal a p { font-size: 1.2rem; font-weight: 700; color: #fff; }

body.home .entry-header { display: none; }

body.home .entry-content { margin-top: -12rem; }
